body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Epilogue', sans-serif;
  font-size: 6.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 8.25rem;
}
.display-2 {
  font-family: 'Epilogue', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 5.28rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.62rem;
    font-size: calc( 2.96rem + (6.6 - 2.96) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.96rem + (6.6 - 2.96) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #4059ad !important;
}
.bg-success {
  background-color: #97d8c4 !important;
}
.bg-info {
  background-color: #eff2f1 !important;
}
.bg-warning {
  background-color: #e7c072 !important;
}
.bg-danger {
  background-color: #6ec7f2 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #4059ad !important;
  border-color: #4059ad !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #29386e !important;
  border-color: #29386e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #29386e !important;
  border-color: #29386e !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #6b9ac4 !important;
  border-color: #6b9ac4 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #3e6f9b !important;
  border-color: #3e6f9b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #3e6f9b !important;
  border-color: #3e6f9b !important;
}
.btn-info,
.btn-info:active {
  background-color: #eff2f1 !important;
  border-color: #eff2f1 !important;
  color: #657d75 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #bfcbc7 !important;
  border-color: #bfcbc7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #657d75 !important;
  background-color: #bfcbc7 !important;
  border-color: #bfcbc7 !important;
}
.btn-success,
.btn-success:active {
  background-color: #97d8c4 !important;
  border-color: #97d8c4 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #58c0a0 !important;
  border-color: #58c0a0 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #58c0a0 !important;
  border-color: #58c0a0 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #e7c072 !important;
  border-color: #e7c072 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #da9f28 !important;
  border-color: #da9f28 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #da9f28 !important;
  border-color: #da9f28 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #6ec7f2 !important;
  border-color: #6ec7f2 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #1ea8eb !important;
  border-color: #1ea8eb !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1ea8eb !important;
  border-color: #1ea8eb !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #4059ad;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #29386e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4059ad !important;
  border-color: #4059ad !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6b9ac4;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #3e6f9b !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #6b9ac4 !important;
  border-color: #6b9ac4 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #eff2f1;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #bfcbc7 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #657d75 !important;
  background-color: #eff2f1 !important;
  border-color: #eff2f1 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #97d8c4;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #58c0a0 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #97d8c4 !important;
  border-color: #97d8c4 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e7c072;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #da9f28 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #e7c072 !important;
  border-color: #e7c072 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6ec7f2;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #1ea8eb !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #6ec7f2 !important;
  border-color: #6ec7f2 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #4059ad !important;
}
.text-secondary {
  color: #6b9ac4 !important;
}
.text-success {
  color: #97d8c4 !important;
}
.text-info {
  color: #eff2f1 !important;
}
.text-warning {
  color: #e7c072 !important;
}
.text-danger {
  color: #6ec7f2 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #243363 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #396790 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #4dbc9a !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #b7c4c0 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #d09623 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #15a1e5 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #4059ad;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #eff2f1;
}
.alert-warning {
  background-color: #e7c072;
}
.alert-danger {
  background-color: #6ec7f2;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4059ad;
  border-color: #4059ad;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #4059ad;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #95a4d8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #4059ad !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.5rem;
}
blockquote {
  border-color: #4059ad;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4059ad;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #4059ad;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4059ad;
  border-bottom-color: #4059ad;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4059ad !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #6b9ac4 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234059ad' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tRUMI7FfsE {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tRUMI7FfsE nav.navbar {
  position: fixed;
}
.cid-tRUMI7FfsE .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tRUMI7FfsE .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tRUMI7FfsE .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tRUMI7FfsE .dropdown-item:hover,
.cid-tRUMI7FfsE .dropdown-item:focus {
  background: #4059ad !important;
  color: white !important;
}
.cid-tRUMI7FfsE .dropdown-item:hover span {
  color: white;
}
.cid-tRUMI7FfsE .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tRUMI7FfsE .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tRUMI7FfsE .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tRUMI7FfsE .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tRUMI7FfsE .nav-link {
  position: relative;
}
.cid-tRUMI7FfsE .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tRUMI7FfsE .container {
    flex-wrap: wrap;
  }
}
.cid-tRUMI7FfsE .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tRUMI7FfsE .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-tRUMI7FfsE .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tRUMI7FfsE .dropdown-menu,
.cid-tRUMI7FfsE .navbar.opened {
  background: #6ec7f2 !important;
}
.cid-tRUMI7FfsE .nav-item:focus,
.cid-tRUMI7FfsE .nav-link:focus {
  outline: none;
}
.cid-tRUMI7FfsE .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tRUMI7FfsE .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tRUMI7FfsE .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tRUMI7FfsE .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tRUMI7FfsE .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tRUMI7FfsE .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tRUMI7FfsE .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #6ec7f2;
}
.cid-tRUMI7FfsE .navbar.opened {
  transition: all 0.3s;
}
.cid-tRUMI7FfsE .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tRUMI7FfsE .navbar .navbar-logo img {
  width: auto;
}
.cid-tRUMI7FfsE .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tRUMI7FfsE .navbar.collapsed {
  justify-content: center;
}
.cid-tRUMI7FfsE .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tRUMI7FfsE .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tRUMI7FfsE .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.5rem);
  }
}
.cid-tRUMI7FfsE .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tRUMI7FfsE .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tRUMI7FfsE .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tRUMI7FfsE .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tRUMI7FfsE .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tRUMI7FfsE .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tRUMI7FfsE .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tRUMI7FfsE .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tRUMI7FfsE .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tRUMI7FfsE .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tRUMI7FfsE .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tRUMI7FfsE .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tRUMI7FfsE .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tRUMI7FfsE .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tRUMI7FfsE .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tRUMI7FfsE .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tRUMI7FfsE .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tRUMI7FfsE .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tRUMI7FfsE .navbar.navbar-short {
  min-height: 60px;
}
.cid-tRUMI7FfsE .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tRUMI7FfsE .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tRUMI7FfsE .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tRUMI7FfsE .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tRUMI7FfsE .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tRUMI7FfsE .dropdown-item.active,
.cid-tRUMI7FfsE .dropdown-item:active {
  background-color: transparent;
}
.cid-tRUMI7FfsE .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tRUMI7FfsE .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tRUMI7FfsE .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tRUMI7FfsE .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #6ec7f2;
}
.cid-tRUMI7FfsE .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tRUMI7FfsE .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tRUMI7FfsE ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tRUMI7FfsE .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tRUMI7FfsE button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tRUMI7FfsE button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tRUMI7FfsE button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tRUMI7FfsE button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tRUMI7FfsE button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tRUMI7FfsE button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tRUMI7FfsE nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tRUMI7FfsE nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tRUMI7FfsE nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tRUMI7FfsE nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tRUMI7FfsE .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tRUMI7FfsE a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tRUMI7FfsE .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tRUMI7FfsE .navbar {
    height: 70px;
  }
  .cid-tRUMI7FfsE .navbar.opened {
    height: auto;
  }
  .cid-tRUMI7FfsE .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tRU8zDAxZO {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: url("../../../assets/images/sfondo-2-740x336.webp");
}
.cid-tRU8zDAxZO .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRU8zDAxZO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tRU8zDAxZO .mbr-section-title {
  color: #eff2f1;
}
.cid-sFGBbGYuTc {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sFGBbGYuTc .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
@media (min-width: 991px) {
  .cid-sFGBbGYuTc .item {
    margin-bottom: 4rem;
  }
}
.cid-sFGBbGYuTc .item:last-child .icon-box:before {
  display: none;
}
.cid-sFGBbGYuTc .item.last .icon-box:before {
  display: none;
}
.cid-sFGBbGYuTc .step-number {
  padding-top: 6px;
}
.cid-sFGBbGYuTc .icon-box {
  background: #4059ad;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-sFGBbGYuTc .icon-box {
    margin-right: 1rem;
  }
}
.cid-sFGBbGYuTc .icon-box::before {
  content: "\e925";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 32px;
  left: 50%;
  top: 120%;
  color: #4059ad;
  transform: translate(-50%, 0);
}
.cid-sFGBbGYuTc span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sFGBbGYuTc .card {
    margin-bottom: 2rem;
  }
  .cid-sFGBbGYuTc .card-wrapper {
    margin-bottom: 2rem;
  }
  .cid-sFGBbGYuTc .icon-box::before {
    top: 141%;
  }
}
@media (max-width: 768px) {
  .cid-sFGBbGYuTc .icon-box::before {
    top: 114%;
  }
}
.cid-sFGBbGYuTc .card-title,
.cid-sFGBbGYuTc .card-box {
  color: #000000;
}
.cid-sFGBbGYuTc .icon-text {
  color: #000000;
}
.cid-sFGBbGYuTc .icon-title {
  color: #000000;
}
.cid-sFGBbGYuTc .mbr-text,
.cid-sFGBbGYuTc .mbr-section-btn {
  color: #000000;
}
.cid-tRVukXKOy2 {
  padding-top: 6rem;
  padding-bottom: 7rem;
  background: #6b9ac4;
}
.cid-tRVukXKOy2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRVukXKOy2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tRVukXKOy2 .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-tRVukXKOy2 .team-card:hover {
  transform: translateY(-10px);
}
.cid-tRVukXKOy2 .card-wrap {
  background: #4059ad;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-tRVukXKOy2 .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-tRVukXKOy2 .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-tRVukXKOy2 .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tRVukXKOy2 .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-tRVukXKOy2 .social-row {
  text-align: center;
}
.cid-tRVukXKOy2 .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-tRVukXKOy2 .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-tRVukXKOy2 .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-tRVukXKOy2 .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-tRVukXKOy2 .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-tRVukXKOy2 .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tRVukXKOy2 .embla__button--next,
.cid-tRVukXKOy2 .embla__button--prev {
  display: flex;
}
.cid-tRVukXKOy2 .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tRVukXKOy2 .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tRVukXKOy2 .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tRVukXKOy2 .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tRVukXKOy2 .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tRVukXKOy2 .embla__button {
    top: auto;
  }
}
.cid-tRVukXKOy2 .embla {
  position: relative;
  width: 100%;
}
.cid-tRVukXKOy2 .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tRVukXKOy2 .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tRVukXKOy2 .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tRVukXKOy2 .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tRVukXKOy2 .mbr-section-title {
  color: #ffffff;
}
.cid-tRUSNEMOgo {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #000000;
  overflow: hidden;
}
.cid-tRUMI7FfsE {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tRUMI7FfsE nav.navbar {
  position: fixed;
}
.cid-tRUMI7FfsE .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tRUMI7FfsE .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tRUMI7FfsE .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tRUMI7FfsE .dropdown-item:hover,
.cid-tRUMI7FfsE .dropdown-item:focus {
  background: #4059ad !important;
  color: white !important;
}
.cid-tRUMI7FfsE .dropdown-item:hover span {
  color: white;
}
.cid-tRUMI7FfsE .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tRUMI7FfsE .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tRUMI7FfsE .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tRUMI7FfsE .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tRUMI7FfsE .nav-link {
  position: relative;
}
.cid-tRUMI7FfsE .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tRUMI7FfsE .container {
    flex-wrap: wrap;
  }
}
.cid-tRUMI7FfsE .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tRUMI7FfsE .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-tRUMI7FfsE .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tRUMI7FfsE .dropdown-menu,
.cid-tRUMI7FfsE .navbar.opened {
  background: #6ec7f2 !important;
}
.cid-tRUMI7FfsE .nav-item:focus,
.cid-tRUMI7FfsE .nav-link:focus {
  outline: none;
}
.cid-tRUMI7FfsE .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tRUMI7FfsE .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tRUMI7FfsE .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tRUMI7FfsE .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tRUMI7FfsE .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tRUMI7FfsE .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tRUMI7FfsE .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #6ec7f2;
}
.cid-tRUMI7FfsE .navbar.opened {
  transition: all 0.3s;
}
.cid-tRUMI7FfsE .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tRUMI7FfsE .navbar .navbar-logo img {
  width: auto;
}
.cid-tRUMI7FfsE .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tRUMI7FfsE .navbar.collapsed {
  justify-content: center;
}
.cid-tRUMI7FfsE .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tRUMI7FfsE .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tRUMI7FfsE .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.5rem);
  }
}
.cid-tRUMI7FfsE .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tRUMI7FfsE .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tRUMI7FfsE .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tRUMI7FfsE .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tRUMI7FfsE .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tRUMI7FfsE .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tRUMI7FfsE .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tRUMI7FfsE .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tRUMI7FfsE .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tRUMI7FfsE .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tRUMI7FfsE .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tRUMI7FfsE .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tRUMI7FfsE .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tRUMI7FfsE .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tRUMI7FfsE .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tRUMI7FfsE .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tRUMI7FfsE .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tRUMI7FfsE .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tRUMI7FfsE .navbar.navbar-short {
  min-height: 60px;
}
.cid-tRUMI7FfsE .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tRUMI7FfsE .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tRUMI7FfsE .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tRUMI7FfsE .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tRUMI7FfsE .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tRUMI7FfsE .dropdown-item.active,
.cid-tRUMI7FfsE .dropdown-item:active {
  background-color: transparent;
}
.cid-tRUMI7FfsE .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tRUMI7FfsE .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tRUMI7FfsE .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tRUMI7FfsE .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #6ec7f2;
}
.cid-tRUMI7FfsE .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tRUMI7FfsE .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tRUMI7FfsE ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tRUMI7FfsE .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tRUMI7FfsE button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tRUMI7FfsE button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tRUMI7FfsE button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tRUMI7FfsE button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tRUMI7FfsE button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tRUMI7FfsE button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tRUMI7FfsE nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tRUMI7FfsE nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tRUMI7FfsE nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tRUMI7FfsE nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tRUMI7FfsE .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tRUMI7FfsE a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tRUMI7FfsE .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tRUMI7FfsE .navbar {
    height: 70px;
  }
  .cid-tRUMI7FfsE .navbar.opened {
    height: auto;
  }
  .cid-tRUMI7FfsE .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tRVjvuhmqg {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tRVjvuhmqg .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRVjvuhmqg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tRVjvuhmqg .nav-tabs .nav-item.open .nav-link:focus,
.cid-tRVjvuhmqg .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-tRVjvuhmqg .nav-tabs {
  flex-wrap: wrap;
  border-bottom: 1px solid #4059ad;
}
@media (max-width: 767px) {
  .cid-tRVjvuhmqg .nav-item {
    width: 100%;
    margin: 0;
  }
}
.cid-tRVjvuhmqg .nav-tabs .nav-link {
  transition: all .5s;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0 !important;
}
.cid-tRVjvuhmqg .nav-tabs .nav-link:not(.active) {
  color: #000000;
}
.cid-tRVjvuhmqg .nav-tabs .nav-item {
  margin-right: 1.5rem;
}
.cid-tRVjvuhmqg .nav-link,
.cid-tRVjvuhmqg .nav-link.active {
  padding: 1rem 0;
  background-color: transparent;
}
.cid-tRVjvuhmqg .nav-tabs .nav-link.active {
  color: #4059ad;
  border-bottom: 3px solid #4059ad;
}
.cid-tRVjvuhmqg H4 {
  text-align: center;
}
.cid-tRVjvuhmqg H3 {
  text-align: center;
  color: #000000;
}
.cid-tRVjvuhmqg P {
  color: #000000;
}
.cid-tRUZkU6EfD {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #6b9ac4;
}
.cid-tRUZkU6EfD .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRUZkU6EfD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tRUZkU6EfD .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #4059ad;
  margin-left: 1rem;
}
.cid-tRUZkU6EfD .panel-group {
  border: none;
}
.cid-tRUZkU6EfD .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tRUZkU6EfD .panel-body,
.cid-tRUZkU6EfD .card-header {
  padding: 1rem 0;
}
.cid-tRUZkU6EfD .panel-title-edit {
  color: #ffffff;
}
.cid-tRUZkU6EfD .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tRUZkU6EfD H3 {
  color: #ffffff;
}
.cid-tRUZkU6EfD H4 {
  color: #ffffff;
}
.cid-tRUZkU6EfD .panel-text {
  color: #ffffff;
}
.cid-tRV016z3Ox {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #6b9ac4;
}
.cid-tRV016z3Ox .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRV016z3Ox .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tRV016z3Ox .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #4059ad;
  margin-left: 1rem;
}
.cid-tRV016z3Ox .panel-group {
  border: none;
}
.cid-tRV016z3Ox .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tRV016z3Ox .panel-body,
.cid-tRV016z3Ox .card-header {
  padding: 1rem 0;
}
.cid-tRV016z3Ox .panel-title-edit {
  color: #ffffff;
}
.cid-tRV016z3Ox .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tRV016z3Ox .panel-text {
  color: #ffffff;
}
.cid-tRVxnqvrNl {
  padding-top: 6rem;
  padding-bottom: 7rem;
  background-color: #ffffff;
}
.cid-tRVxnqvrNl .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRVxnqvrNl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tRVxnqvrNl .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tRVxnqvrNl .row {
  flex-direction: row-reverse;
}
.cid-tRVxnqvrNl img {
  width: 100%;
}
.cid-tRVxnqvrNl .mbr-description {
  color: #000000;
}
.cid-tRVB2xGbvZ {
  padding-top: 6rem;
  padding-bottom: 7rem;
  background: #6b9ac4;
}
.cid-tRVB2xGbvZ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRVB2xGbvZ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tRVB2xGbvZ .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-tRVB2xGbvZ .team-card:hover {
  transform: translateY(-10px);
}
.cid-tRVB2xGbvZ .card-wrap {
  background: #4059ad;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-tRVB2xGbvZ .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-tRVB2xGbvZ .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-tRVB2xGbvZ .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tRVB2xGbvZ .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-tRVB2xGbvZ .social-row {
  text-align: center;
}
.cid-tRVB2xGbvZ .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-tRVB2xGbvZ .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-tRVB2xGbvZ .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-tRVB2xGbvZ .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-tRVB2xGbvZ .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-tRVB2xGbvZ .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tRVB2xGbvZ .embla__button--next,
.cid-tRVB2xGbvZ .embla__button--prev {
  display: flex;
}
.cid-tRVB2xGbvZ .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tRVB2xGbvZ .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tRVB2xGbvZ .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tRVB2xGbvZ .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tRVB2xGbvZ .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tRVB2xGbvZ .embla__button {
    top: auto;
  }
}
.cid-tRVB2xGbvZ .embla {
  position: relative;
  width: 100%;
}
.cid-tRVB2xGbvZ .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tRVB2xGbvZ .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tRVB2xGbvZ .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tRVB2xGbvZ .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tRVB2xGbvZ .mbr-section-title {
  color: #ffffff;
}
.cid-tRUSNEMOgo {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
  overflow: hidden;
}
.cid-tRUMI7FfsE {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tRUMI7FfsE nav.navbar {
  position: fixed;
}
.cid-tRUMI7FfsE .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tRUMI7FfsE .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tRUMI7FfsE .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tRUMI7FfsE .dropdown-item:hover,
.cid-tRUMI7FfsE .dropdown-item:focus {
  background: #4059ad !important;
  color: white !important;
}
.cid-tRUMI7FfsE .dropdown-item:hover span {
  color: white;
}
.cid-tRUMI7FfsE .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tRUMI7FfsE .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tRUMI7FfsE .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tRUMI7FfsE .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tRUMI7FfsE .nav-link {
  position: relative;
}
.cid-tRUMI7FfsE .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tRUMI7FfsE .container {
    flex-wrap: wrap;
  }
}
.cid-tRUMI7FfsE .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tRUMI7FfsE .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-tRUMI7FfsE .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tRUMI7FfsE .dropdown-menu,
.cid-tRUMI7FfsE .navbar.opened {
  background: #6ec7f2 !important;
}
.cid-tRUMI7FfsE .nav-item:focus,
.cid-tRUMI7FfsE .nav-link:focus {
  outline: none;
}
.cid-tRUMI7FfsE .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tRUMI7FfsE .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tRUMI7FfsE .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tRUMI7FfsE .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tRUMI7FfsE .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tRUMI7FfsE .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tRUMI7FfsE .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #6ec7f2;
}
.cid-tRUMI7FfsE .navbar.opened {
  transition: all 0.3s;
}
.cid-tRUMI7FfsE .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tRUMI7FfsE .navbar .navbar-logo img {
  width: auto;
}
.cid-tRUMI7FfsE .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tRUMI7FfsE .navbar.collapsed {
  justify-content: center;
}
.cid-tRUMI7FfsE .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tRUMI7FfsE .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tRUMI7FfsE .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.5rem);
  }
}
.cid-tRUMI7FfsE .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tRUMI7FfsE .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tRUMI7FfsE .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tRUMI7FfsE .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tRUMI7FfsE .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tRUMI7FfsE .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tRUMI7FfsE .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tRUMI7FfsE .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tRUMI7FfsE .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tRUMI7FfsE .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tRUMI7FfsE .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tRUMI7FfsE .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tRUMI7FfsE .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tRUMI7FfsE .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tRUMI7FfsE .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tRUMI7FfsE .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tRUMI7FfsE .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tRUMI7FfsE .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tRUMI7FfsE .navbar.navbar-short {
  min-height: 60px;
}
.cid-tRUMI7FfsE .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tRUMI7FfsE .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tRUMI7FfsE .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tRUMI7FfsE .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tRUMI7FfsE .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tRUMI7FfsE .dropdown-item.active,
.cid-tRUMI7FfsE .dropdown-item:active {
  background-color: transparent;
}
.cid-tRUMI7FfsE .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tRUMI7FfsE .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tRUMI7FfsE .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tRUMI7FfsE .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #6ec7f2;
}
.cid-tRUMI7FfsE .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tRUMI7FfsE .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tRUMI7FfsE ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tRUMI7FfsE .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tRUMI7FfsE button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tRUMI7FfsE button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tRUMI7FfsE button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tRUMI7FfsE button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tRUMI7FfsE button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tRUMI7FfsE button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tRUMI7FfsE nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tRUMI7FfsE nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tRUMI7FfsE nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tRUMI7FfsE nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tRUMI7FfsE .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tRUMI7FfsE a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tRUMI7FfsE .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tRUMI7FfsE .navbar {
    height: 70px;
  }
  .cid-tRUMI7FfsE .navbar.opened {
    height: auto;
  }
  .cid-tRUMI7FfsE .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tRUI4PZFs0 {
  background-image: url("../../../assets/images/8091889-1684x1055.webp");
}
.cid-tRUI4PZFs0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRUI4PZFs0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tRUSNEMOgo {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
  overflow: hidden;
}
